[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
jupyterlab = "*"
pandas = "*"
numpy = "*"
geopandas = "*"
shapely = "*"
matplotlib = "*"
descartes = "*"
geopy = "*"
scipy = "*"
tqdm = "*"
us = "*"
seaborn = "*"
litecoder = {path = "./data/litecoder-0.1.1-py3-none-any.whl"}
boltons = "*"
altair = "*"

[dev-packages]

[requires]
python_version = "3.6"
